main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
}
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  background-color: rgb(12, 12, 12, 0.5);
}
.carousel img {
  height: 400px;
  padding: 30px;
}
.carousel a {
  margin: 0 auto;
}
.home-heading {
  text-align: center;
  padding-top: 20px;
}
